:root {
  --sip-navy-logo: #1D2C41;
  --sip-navy-deep: #011631;
  --sip-blue-logo-top: #1777BB;
  --sip-blue-logo-mid: #1469AC;
  --sip-blue-logo-bottom: #145998;
  --sip-blue-digital: #0189F5;
  --sip-blue-digital-dark: #0076D2;
  --sip-ice: #F3F8FD;
  --sip-white: #FFFFFF;
}
